In [9]:
from pyspark.sql import SparkSession
import os

# Inicializa la SparkSession
spark = SparkSession.builder \
    .appName("refine_gkg_counts") \
    .getOrCreate()

# Especifica el directorio local donde est√°n los archivos CSV
base_dir = '/home/oscar/budasbi-repos/factored-datathon-2024-voyager/bucket_contents/raw/gkg_counts'

# Recorrer el directorio y sus subdirectorios para obtener todos los archivos CSV
gkg_files = []
for root, dirs, files in os.walk(base_dir):
    for file in files:
        if file.endswith(".csv"):
            gkg_files.append(os.path.join(root, file))

24/08/19 00:11:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/08/19 00:11:58 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [10]:
spark.sparkContext

In [11]:

# Si tienes varios archivos, puedes concatenarlos para leerlos todos juntos
if gkg_files:
    gkg_counts = spark.read.csv(gkg_files, header=True, sep='\t',inferSchema=True)
    print()
    gkg_counts.show()  # Muestra las primeras filas del DataFrame
else:
    print("No se encontraron archivos CSV en el directorio especificado.")

+--------+-------+--------------------+------+-------------------+--------+--------------------+---------------+------------+-------+--------+-------------+--------------------+--------------------+--------------------+
|    DATE|NUMARTS|           COUNTTYPE|NUMBER|         OBJECTTYPE|GEO_TYPE|        GEO_FULLNAME|GEO_COUNTRYCODE|GEO_ADM1CODE|GEO_LAT|GEO_LONG|GEO_FEATUREID|       CAMEOEVENTIDS|             SOURCES|          SOURCEURLS|
+--------+-------+--------------------+------+-------------------+--------+--------------------+---------------+------------+-------+--------+-------------+--------------------+--------------------+--------------------+
|20240805|      1|                KILL|    10|               null|       1|             Germany|             GM|          GM|   51.5|    10.5|           GM|1191056014,119105...|           yahoo.com|https://news.yaho...|
|20240805|      2|CRISISLEX_C03_WEL...|     2|               null|       4|Pokrovsk, Mordovi...|             RS|        RS46| 54.768|  45.837|     -2985097|1190951737,119095...|menafn.com;menafn...|https://menafn.co...|
|20240805|      1|              AFFECT|     9|  studies suggested|       0|                null|           null|        null|   null|    null|         null|                null|     dailygalaxy.com|https://dailygala...|
|20240805|      3|    SOC_GENERALCRIME|   250|               null|       4|Northern Ireland,...|             UK|        UKR8|   54.5|    -6.5|     -2604275|                null|yahoo.com;bbc.co....|https://www.yahoo...|
|20240805|      1|              AFFECT|  2013|Endangered Person x|       3|Jacksonville, Flo...|             US|        USFL|30.3322|-81.6556|       295003|1190927924,119092...|  firstcoastnews.com|https://www.first...|
|20240805|      1|              KIDNAP|    12|               null|       4|Eluru, Andhra Pra...|             IN|        IN02|   16.7|    81.1|     -2095478|1190916314,119101...|        thehindu.com|https://www.thehi...|
|20240805|      5|CRISISLEX_CRISISL...|     6|               null|       4|Beirut, Beyrouth,...|             LE|        LE04|33.8719| 35.5097|      -801546|1190914048,119091...|businesstimes.com...|https://www.busin...|
|20240805|      2|  CRISISLEX_T03_DEAD|     9|               null|       3|Manayunk, Pennsyl...|             US|        USPA|40.0246|-75.2141|      1180261|1191072126,119107...|independent.co.uk...|https://www.indep...|
|20240805|      1|              KIDNAP|  2013|               null|       1|            Portugal|             PO|          PO|   39.5|    -8.0|           PO|1190919200,119099...|        euractiv.com|https://www.eurac...|
|20240805|     54|CRISISLEX_C03_WEL...|    19|               null|       1|              Israel|             IS|          IS|   31.5|   34.75|           IS|1190914035,119091...|wcfcourier.com;my...|https://wcfcourie...|
|20240805|      1|             PROTEST|   500|               null|       1|               Niger|             NG|          NG|   16.0|     8.0|           NG|                null|    hallmarknews.com|https://hallmarkn...|
|20240805|    431|                KILL|     3|              girls|       4|Southport, Sefton...|             UK|        UKL8|53.6667|    -3.0|     -2608309|1190914008,119091...|tspr.org;weaa.org...|https://www.tspr....|
|20240805|      1|                KILL|     7|               null|       3|Cherokee County, ...|             US|        USNC|35.1501|-84.0332|      1008545|1190993832,119093...|           wyff4.com|https://www.wyff4...|
|20240805|     10|            REFUGEES|     4|               null|       4|Rotherham, Rother...|             UK|        UKL3|53.4333|   -1.35|     -2606551|1191010481,119092...|dailymail.co.uk;d...|https://www.daily...|
|20240805|      1|              ARREST|    21|               null|       4|Mallardstown, Kil...|             EI|        EI13|52.5339|  -7.345|       370034|                null|     sundayworld.com|https://www.sunda...|
|20240805|      1|             PROTEST|  2013|               null|       1|           Australia|             AS|          AS|  -25.0|   135.0|           AS|                null|           aol.co.uk|https://www.aol.c...|
|20240805|      1|  CRISISLEX_T03_DEAD|     3|               null|       5|       Kerala, India|             IN|        IN13|   10.0|    76.5|     -2100307|          1191032520|          aninews.in|https://aninews.i...|
|20240805|    103|CRISISLEX_C07_SAFETY|  2013|               null|       4|Greater Mancheste...|             UK|        UK00|  53.45|-2.23333|     -2597513|1190916595,119091...|ledburyreporter.c...|https://www.ledbu...|
|20240805|      2|CRISISLEX_C03_WEL...|    71|               null|       1|              Israel|             IS|          IS|   31.5|   34.75|           IS|1190919290,119092...|aa.com.tr;english...|https://www.aa.co...|
|20240805|      1|               WOUND|     3|          personnel|       4|Rajpura, Rajastha...|             IN|        IN24|28.5122| 73.9228|        78467|1191058986,119105...|  hindustantimes.com|https://www.hindu...|
+--------+-------+--------------------+------+-------------------+--------+--------------------+---------------+------------+-------+--------+-------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [12]:
gkg_counts.count()#1441421

307576

In [13]:
gkg_counts.printSchema()

root
 |-- DATE: integer (nullable = true)
 |-- NUMARTS: integer (nullable = true)
 |-- COUNTTYPE: string (nullable = true)
 |-- NUMBER: long (nullable = true)
 |-- OBJECTTYPE: string (nullable = true)
 |-- GEO_TYPE: integer (nullable = true)
 |-- GEO_FULLNAME: string (nullable = true)
 |-- GEO_COUNTRYCODE: string (nullable = true)
 |-- GEO_ADM1CODE: string (nullable = true)
 |-- GEO_LAT: double (nullable = true)
 |-- GEO_LONG: double (nullable = true)
 |-- GEO_FEATUREID: string (nullable = true)
 |-- CAMEOEVENTIDS: string (nullable = true)
 |-- SOURCES: string (nullable = true)
 |-- SOURCEURLS: string (nullable = true)

In [ ]:
gkg_colums=['date','numarts', 'count_type', 'number', 'object_type', 'geo_type', 'geo_fullname', 'geo_country_code', 'geo_adm1_code', 'geo_lat', 'geo_long','geo_feature_id', 'cameo_event_ids', 'sources', 'source_urls' ]
#publication_date -> to date
#geo_type -> replace nulls with 0
#geo_type = {1:'Country', 2:'US State', 3:'US City', 4: 'World City', 5: 'World State', 0: 'Not Assigned'}
#geo_country_code resolve with 
#geo_adm1_code -> https://github.com/mysociety/gaze/blob/master/data/us-states.csv
#Explote cameo_event_ids

In [ ]:
df.show(truncate=False)

In [ ]:
df.printSchema()

In [ ]:
new_column_names = ['Date', ]

In [ ]:
df.select('DATE', 'NUMARTS').show()

In [ ]:
df.createOrReplaceTempView('gkgcounts')
limit10 = spark.sql("select * from gkgcounts limit 10")
limit10.show(truncate=False)

In [ ]:
from pyspark.sql.functions import split, explode
df_split = df.withColumn("CAMEOEVENTIDS_split", split(df["CAMEOEVENTIDS"], ","))
df_split.show(truncate=False)

In [ ]:
df_exploded = df_split.withColumn("CAMEOEVENTIDS", explode(df_split["CAMEOEVENTIDS_split"]))
df_exploded.show(truncate=False)

In [ ]:
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

In [8]:

# Detener la sesi√≥n de Spark al finalizar
spark.stop()

In [ ]:
sc